In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('test.csv')

In [15]:
data1

        dataid    minute       use
0           26  00:00:00  0.834868
1           26  00:01:00  0.822281
2           26  00:02:00  0.828562
3           26  00:03:00  0.825140
4           26  00:04:00  0.831901
...        ...       ...       ...
498235    9983  23:55:00  0.543492
498236    9983  23:56:00  0.532952
498237    9983  23:57:00  0.528381
498238    9983  23:58:00  0.524683
498239    9983  23:59:00  0.520508

[498240 rows x 3 columns]

In [13]:
data1['minute']>'07:00:00'

0         False
1         False
2         False
3         False
4         False
          ...
498235     True
498236     True
498237     True
498238     True
498239     True
Name: minute, Length: 498240, dtype: bool

In [10]:
data1['minute'][100]

'01:40:00'

In [18]:
data1['minute']<'19:00:00'

0          True
1          True
2          True
3          True
4          True
          ...
498235    False
498236    False
498237    False
498238    False
498239    False
Name: minute, Length: 498240, dtype: bool

In [22]:
data2 = pd.DataFrame({"A":data1['minute']>'07:00:00',"B":data1['minute']<='19:00:00'})

In [24]:
np.sum(data2.apply(all,axis=1))

249120

In [25]:
test1 = data1.loc[data2.apply(all,axis=1),:]
test2 = data1.loc[-data2.apply(all,axis=1),:]

In [30]:
test1.to_csv('test1.csv')
test2.to_csv('test2.csv')